

.imageContainer {
  width: 33%;
  display: inline-block;
}

.imageContainer img {
  width: 100%;
}

.testimony {
  text-align: center;
  font-size: 20px;
}

.imagerow {
  text-align: center;
}

.footer {
  text-align: center;
  margin-bottom: 46px;
}

.top {
  width: 100%;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  height: 46px;
  z-index: 2;
}

.submitBtn {
  float: right;
}

.topbutton {
  width: 100%;
}

.contactForm {
  padding: 0.5rem 1rem 1rem 1rem;
  border: 1px solid black;
  display: table;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-color: rgb(224, 224, 224);
  text-align: center;
  height: 100px;
  position: relative;
  color: white;
  background-position: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top a:hover:not(.active) {
  background-color: #111;
}

.top {
  float: left;
}

.top a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

body {
  margin: 0;
}

.navbar {
  height: 46px;
  position: relative;
  z-index: 2;
}

.mainwidth {
  margin: 0 10%;
}

.col-50 {
  width: 50%;
  margin: 0;
}

.aboutRow {
  width: 100%;
  display: inline-flex;
  padding-top: 3%;
}

.bioImage {
  width: 50%;
}

.bio {
  width: 50%;
  padding-left: 5%;
  font-size: 30px;
}

.formInput {
  padding-bottom: 10px;
  width: 50%;
  display: inline-flex;
}

@media only screen and (max-width: 999px) {
  .aboutRow {
    display: block;
  }
  .bioImage {
    width: 100%;
  }
  .bio {
    width: 100%;
    padding-left: 0;
  }
  .imageContainer {
    width: 50%;
  }
  .formInput {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .footer-about {
    transform: translateX(-50%);
    bottom: 0;
    position: absolute;
    left: 50%;
  }
  #biographyHeader {
    margin-top: 0;
  }
}

.gallery {
  display: table-row;
}

.bioImage img {
  width: 100%;
}

.formInput input, #date {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: 0.5rem;
  padding-left: 10px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dateLabel {
  margin-top: 1rem;
}

.vision {
  font-size: 20px;
}

.companyInfo {
  font-size: 20px;
}

.quote {
  color: rgb(84, 84, 84);
  font-style: italic;
}